<a href="{% if post.urlOut %}{{ post.urlOut }}{% else %}{{ post.url }}{% endif %}" aria-label="{{ post.title }} (Case study)">
<div class="card is-clipped post-card card100"
	{% if post.cardColour %}
		style="background-color: #{{ post.cardColour }};"
	{% else %}
		style="background-color: #fff;"
	{% endif %}>

	{% if post.urlmp4 %}

		{% if post.icon %}
			<span class="icon is-large corner-icon is-overlay" style="color: #{{ post.iconColour }};">
				<i class="{{ post.icon }}"></i>
			</span>
		{% endif %}

		<video class="video" autoplay muted loop playinsline width="100%">
			<source src="{{ post.urlmp4 }}" type="video/mp4" alt="{{ include.description }}">
			<source src="{{ post.urlwebm }}" type="video/webm" alt="{{ include.description }}">
		</video>
		<div class="card-content">
			<p class="title is-size-6">{{ post.title }}</p>
		</div>
	{% else %}
		<div class="card-content">
			<article class="message is-danger">
				<div class="message-body">
					Missing thumbnail
				</div>
			</article>
		</div>
	{% endif %}
</div>
</a>