<a href="{{ post.url }}" aria-label="{{ post.title }} (product)">
	<div class="card post-card card100" style="background-color: #{{ post.cardColour }};" "background: url({{ post.cardBgImg }}) no-repeat center center; background-size: cover;">
			{% if post.thumbnail %}
				{% if post.icon %}
					<span class="icon is-large corner-icon is-overlay" style="color: #{{ post.iconColour }}">
						<i class="{{ post.icon }}"></i>
					</span>
				{% endif %}
				<div class="card-image">
					<figure class="image {% if post.imgRatio %}{{post.imgRatio}}{% endif %} level-item ">
					<img src="{{ post.thumbnail }}">
				</figure>
			</div>
		{% else %}
			<div class="card-content">
				<article class="message is-danger">
					<div class="message-body">
						Missing thumbnail
					</div>
				</article>
			</div>
		{% endif %}
	</div>
</a>