<section class="hero is-bold is-fullheight">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container is-large ">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6 is-4-desktop">
          <div class="">
            <div class="card-content content">
              <p class="title has-text-black">{{ page.title }}</p>
              <p class="subtitle has-text-black">{{ page.subtitle }}</p>
              <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true"
                data-netlify="true">
                <div class="field">
                  <p class="is-hidden">
                    <label>Don’t fill this out if you are human <input name="bot-field" /></label>
                  </p>
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Name">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="Your email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                  </div>
                </div>
                <div data-netlify-recaptcha="true"></div>
                <br>
                <div class="control">
                  <button type="submit" class="button is-link">Send message</button>
                </div>
              </form>
              <div class="card-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>