<style type="text/css">
	.is-maxi-8 {
		font-size: 8vw;
	}

	.is-maxi-4 {
		font-size: 4vw;
	}

	path:hover {
		-webkit-animation: rbw 0.5s infinite;
		animation: rbw 0.5s infinite;
	}

	#me:hover~.hero {
		background-color: red;
	}

	#me:hover {
		transform: scale(1.1);
		transition: 200ms;
	}


	@-webkit-keyframes rbw {

		0%,
		100% {
			fill: #7ccdea;
		}

		16% {
			fill: #0074d9;
		}

		32% {
			fill: #2ecc40;
		}

		48% {
			fill: #ffdc00;
		}

		64% {
			fill: #b10dc9;
		}

		80% {
			fill: #ff4136;
		}
	}

	@keyframes zomg {

		0%,
		100% {
			fill: #7ccdea;
		}

		16% {
			fill: #0074d9;
		}

		32% {
			fill: #2ecc40;
		}

		48% {
			fill: #ffdc00;
		}

		64% {
			fill: #b10dc9;
		}

		80% {
			fill: #ff4136;
		}
	}

	.content blockquote {
		font-family: Times New Roman, Times, serif;
		font-size: 1.25em;
		font-style: italic;
		border-left: 0px solid #fff;
		padding: 1.25em 1.5em;
		background-color: #fafafa;
	}

	.quote {
		font-family: Times New Roman, Times, serif;
		font-style: italic;
		font-size: 1.75em;
	}

	.post-card {
		border-radius: 12px;
		transition: 1s;
	}

	.post-card:hover {
		box-shadow:
			0 1.7px 1.2px -40px rgba(0, 0, 0, 0.15),
			0 3.8px 2.7px -40px rgba(0, 0, 0, 0.118),
			0 6.4px 4.6px -40px rgba(0, 0, 0, 0.103),
			0 9.7px 6.9px -40px rgba(0, 0, 0, 0.093),
			0 14px 10px -40px rgba(0, 0, 0, 0.083),
			0 19.8px 14.2px -40px rgba(0, 0, 0, 0.075),
			0 28.1px 20.1px -40px rgba(0, 0, 0, 0.067),
			0 40.9px 29.2px -40px rgba(0, 0, 0, 0.057),
			0 63px 45px -40px rgba(0, 0, 0, 0.047),
			0 112px 80px -40px rgba(0, 0, 0, 0.032);
		border-radius: 12px;
	}

	.post-card:active {
		transform: scale(0.99);
		background-color: rgba(0, 0, 0, 0.02);
		opacity: 0.5;
	}

	.hero-card {
		border-radius: 16px;
		-webkit-box-shadow: 0px 12px 24px -20px rgba(0, 0, 0, 0.2), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 12px 24px -20px rgba(0, 0, 0, 0.2), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
	}

	.moonpink {
		background-color: #FFA2C1 !important;
	}

	.zava {
		background-color: #0F62F4 !important;
	}

	.is-elevation-5 {
		border-radius: 16px;
		-webkit-box-shadow: 0px 0px 24px -20px rgba(0, 0, 0, 0.2), 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 24px -20px rgba(0, 0, 0, 0.2), 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
	}

	.card100 {
		height: 100%;
	}

	.corner-icon {
		z-index: 99;
	}

	.content figure {
		margin-left: 0em;
		margin-right: 0em;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.05), 0 0 0 1px rgba(10, 10, 10, 0.05);
		border-radius: 4px;
		overflow: hidden;
	}

	html {
		-webkit-animation: fadein 2s;
		/* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s;
		/* Firefox < 16 */
		-ms-animation: fadein 2s;
		/* Internet Explorer */
		-o-animation: fadein 2s;
		/* Opera < 12.1 */
		animation: fadein 2s;
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* Firefox < 16 */

	@-moz-keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* Safari, Chrome and Opera > 12.1 */

	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* Internet Explorer */

	@-ms-keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* Opera < 12.1 */

	@-o-keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
</style>
<link rel="stylesheet" href="assets/css/aos.css" />
<script src="assets/js/aos.js"></script>
<script>
	AOS.init();
</script>