<section id="hero" class="hero has-background-black is-medium ">
	<div class="hero-body" data-aos="fade-up">
		<div class="columns is-centered">
			<div class="column is-half-desktop is-two-thirds-tablet">
				<img id="me" width="96px" style="margin-bottom:1em;" src="/assets/img/me.png" alt="logo">
				<h2 class="title is-size-3 has-text-light">I'm a product designer and entrepreneur based in London. Senior UX/UI
					designer at <mark style="border-radius: .25rem; background-color: #CCDEFF; padding-bottom: 2px; padding-inline-end: .5rem; padding-inline-start: .5rem;"><span style="color: #0f62f4;">Zava</span></mark> previously UX at <span
						style="color: #ee447d;">Moonpig</span></h2>
				<p class="subtitle has-text-light">I'm passinoate about new technologies, always keen to learn and definitely a food
					nerd. I love shooting stuff <a href="/photos.html"><u>with my camera</u> 📸</a></p>
			</div>
		</div>
	</div>
</section>
<style type="text/css">

</style>