<section id="work" class="section" style="background-color: #fbfbfb;">
	<div class="container">
		<!-- here is the loop of posts -->
		<div class="post columns">
			<div class="column has-text-right">
				<h1 class="title">Recent</h1>
				<h2 class="subtitle">Latest projects I have lead and/or contributed to</h2>
			</div>
			<!-- <div class="column"></div> -->
			{% for post in site.posts and post.show == true | limit:3 %}
				<div id="{{post.title | truncatewords: 1, ""}}" 
					class="column is-one-quarter">

					{% if post.type == 'quote' %}
						{% include cardlayoutQuote.html %}

					{% elsif post.type == 'shot' %}
						{% include cardlayoutShot.html %}

					{% elsif post.type == 'video' %}
						{% include cardlayoutVideo.html %}

					{% else %}
						{% include cardlayoutDefault.html %}
					{% endif %}

				</div>
			{% endfor %}
			<!-- here ends the loop -->
			
		</div>
	</div>
</section>	