<nav class="navbar is-mobile is-transparent is-fixed-top is-spaced" >
	<span class="navbar-item">
		<a class="button is-medium" style="background-color: #{{ page.titleColour }}; border: none;" href="{{ site.baseurl }}/#{{page.title | truncatewords: 1, ""}}" aria-label="Close post back to post list" >
		<span class="icon" style="color: #{{ page.heroBgColour }}">
			<i class="fas fa-times"></i>
		</span>
		</a>
	</span>
</nav>