<section id="photos" class="section has-background-black ">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h1 class="title has-text-light">Photos</h1>
				<h2 class="subtitle has-text-light">Some of my favourite snaps</h2>
			</div>
		</div>
		<br>
		<!-- loop starts here -->
		<div id="loop" class="photos columns is-multiline">
		</div>
		<!-- Loop ends here -->
	</div>
</section>
<script src="/assets/js/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
<!-- Page stuffs -->
<script type='text/javascript'>
		// This is the tabletop.js magic code you need to use to connect your google sheet
				function init() {
				Tabletop.init({
				// this is the key of my doc
				key: '1BB0flIosKWlwodig26I9QF8xuhWmAvivSEr1fBKuQfg'
				, callback: function (data, tabletop) {
				console.log(data);
				loopMyData(data);
				
				}
				, simpleSheet: true
				})
				}
				window.addEventListener('DOMContentLoaded', init)
					function loopMyData (data) {
					for (var i = 0; i < data.length; i++)
					{ if (data[i].visible == 'TRUE' ) {
					$(".photos").append(
					'<div class="column ' + data[i].column + '">'+
										'<div class="card has-background-black-bis">' +
															'<div class="card-image">' +
																		'<figure class="image ' + data[i].ratio + '">' +
																					'<img src=' + data[i].img + '>'+
																		'</figure>' +
															'</div>' +
															'<div class="card-content">' +
																'<p class="title is-size-5 has-text-success">'+ data[i].title + '</p>'+
																'<p class="subtitle is-size-6 has-text-success">'+ data[i].body + '</p>'+
																'<span class="tag ' + data[i].tagcolour +'">' + data[i].tag + '</span>' +
													'</div>'+
										'</div>' +
					'</div>'
					);} else { console.log("skipped item")
					};
					}}
</script>