<section
	class="hero is-bold
	{% if page.heroSize %}
		{{ page.heroSize }}"
	{% else %}
		is-medium"
	{% endif %}
	
	{% if page.heroBgColour %}
		style="background-color: #{{ page.heroBgColour }};"
	{% elsif page.hero-bg-image %}
		style="background: url({{ page.heroBgImage }}) no-repeat center center; background-size: cover;"
	{% else %}
		style="background-color: #fff";
	{% endif %}
	>
	<div class="hero-head">
		{% include nav.html %}
	</div>
	<div class="hero-body {% if page.align %}{{ page.align }}{% endif %} ">
		<div  class="container is-fluid is-large">
			<div class="columns is-vcentered is-centered">
				{% if page.featured-image %}
					{% include heroLayoutFeatured.html %}
				{% else %}
					{% include heroLayoutDefault.html %}
				{% endif %}
			</div>
		</div>
	</div>
</section>