<section class="section">
	<div class="container is-fluid ">
			<div class="columns is-medium content is-multiline is-centered">
				<div class="column is-three-quarters-tablet is-two-thirds-desktop ">
					{{ content | markdownify | smartify 
						| replace: '<table', '<table class="table is-narrow is-bordered is-hoverable is-striped is-size-6"'
				}}
				</div>
			</div>
		</div>
</section>
<section class="section is-normal has-background-light">
	{% include post-nav-buttons.html %}
</section>

