<section class="hero is-bold
	{% if page.heroSize %}
		{{ page.heroSize }}
	{% else %} is-fullheight
	{% endif %}
	{% if page.heroColour %}
		"style="background-color: #{{ page.heroColour }}"
	{% else %}
		class="is-primary"
	{% endif %}
	{% if page.hero-bg-image %}
		style="background: url({{ page.hero-bg-image }}) no-repeat center center;" "background-size: cover;"
	{% endif %}>
	<div class="hero-head">
		{% include nav.html%}
	</div>
	<div class="hero-body {% if page.align %} {{ page.align }}{% endif %} ">
	<div  class="container is-large ">
		<div class="columns is-centered is-vcentered">
			{% if page.urlmp4 %}
				{% include video-featured.html %}
			{% else %}
				<div class="column is-4">
					<figure class="image is-clipped ">
						<img src="{{ page.featured-image }}">
					</figure>
				</div>
			{% endif %}
			<div class="column is-1"></div>
			<div class="column is-4">
				<div class="card hero-card">
					<div class="card-content content">
						<p class="title has-text-black">{{ page.title }}</p>
						<p class="subtitle is-italic has-text-black">{{content}}</p>
						{% if page.visitButton %}
						<div class="card-footer">
							<a class="button is-medium {{ page.buttonColour }}"
								href="{{ page.visitButton }}">
								{% if page.visitButton %}
									{{ page.buttonTitle }}&nbsp; <sup>↗</sup>
								{% else %}
									Visit &nbsp;<sup>↗</sup>
								{% endif %}
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>