<div class="column is-4 ">
<video autoplay="autoplay" loop="loop" width="100%" class="{{page.elevation}}">
  <source src="{{ page.urlmp4 }}" type="video/mp4" alt="{{ page.description }}">
  <source src="{{ page.urlwebm }}" type="video/webm" alt="{{ page.description }}">
</video>
</div>