<video class="" autoplay="autoplay" controls="true" loop="loop" width="100%">
  <source src="{{ include.urlmp4 }}" type="video/mp4" alt="{{ include.description }}">
  <source src="{{ include.urlwebm }}" type="video/webm" alt="{{ include.description }}">
</video>
<p><sup><sup>{{ include.description }}</sup></sup></p>
